.btn {
    box-shadow: 0 0 0 0;
    border: 0 none;
    outline: 0;
}

.btn-primary {
    background-color: rgb(12, 161, 12);
}

.btn-primary:hover {
    background-color: rgb(6, 128, 6);
}

.btn-secondary {
    background-color: rgb(190, 18, 18);
}

.btn-secondary:hover {
    background-color: rgb(156, 17, 17);
}